<!DOCTYPE html>
<html>
<head>
	<title>RainKast - {{ city }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<style>
		body {
			background-image: url('static/images(2).jpeg');
			background-repeat: no-repeat;
		}
	</style>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

	<nav class="navbar navbar-expand-sm bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="index.html">
				<img src="static/logo-no-background.png" width=55 height=35>
			</a>
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Contacts</a>
				</li>
			</ul>
		</div>

        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

	<div class="container-fluid bg-info bg-gradient">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h1 class="my-5">Weather Forecast for {{ city }}</h1>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-4">

				<div class="card mb-5" style="color: #4B515D; border-radius: 35px;">

					<div class="card-body">
						<div class="d-flex">
							<h6 class="flex-grow-1">{{ city }}</h6>
							<h6>Current Weather</h6>
						</div>

						<div class="d-flex flex-column text-center mt-5 mb-4">
							<h6 class="display-4 mb-0 font-weight-bold" style="color: #1C2331;">{{ current_weather.temperature }}&deg;C</h6>
							<span class="card-subtitle text-muted mb-2" style="color: #868B94">{{ current_weather.description }}</span>
						</div>

						<div class="d-flex align-items-center">
							<div class="flex-grow-1" style="font-size: 1rem;">
								<p class="card-text">Humidity: {{ current_weather.humidity }}%</p>
								<p class="card-text">Wind Speed: {{ current_weather.windspeed }} km/h</p>
							</div>

							<div>
								{% set weather_icon = "http://openweathermap.org/img/w/" + current_weather.icon %}
								<img src="{{ weather_icon }}" width="90px">
							</div>
						</div>
						
					</div>
				</div>

				<div>
					<h3>Forecasts:</h3>
				</div>

				{% for forecast in forecasts %}
				<div class="card mb-3" style="color: #4B515D; border-radius: 35px;">
					<div class="card-body">
						<div class="d-flex">
							<h6 class="flex-grow-1">{{ city }}</h6>
							<h6>{{ forecast.date }}</h6>
						</div>

						<div class="d-flex flex-column text-center mt-5 mb-4">
							<h6 class="display-4 mb-0 font-weight-bold" style="color: #1C2331;">{{ forecast.temperature }}&deg;C</h6>
							<span class="card-subtitle text-muted mb-2" style="color: #868B94">{{ forecast.description }}</span>
						</div>

						<div class="d-flex align-items-center">
							<div class="flex-grow-1" style="font-size: 1rem;">
								<p class="card-text">Humidity: {{ forecast.humidity }}%</p>
								<p class="card-text">Wind Speed: {{ forecast.windspeed }} km/h</p>
							</div>

							<div>
								{% set weather_icon = "http://openweathermap.org/img/w/" + forecast.icon %}
								<img src="{{ weather_icon }}" width="90px">
							</div>
						</div>
						
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<!-- Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>